{% extends 'back_base.html.twig' %}

{% block body %}

    <a href="{{ path('banners') }}" class="btn btn-secondary mb-4"><i class="material-icons text-white pe-2">keyboard_backspace</i>Retour à la liste</a>

    {{ form_start(form, {'attr': {'class': 'flex-form'}}) }}

        <div class="col-lg-6 col-12">
            <div class="card p-4 mb-4">
                <h6 class="text-uppercase pink font-weight-bolder mb-3">Bannière</h6>
                {{ form_row(form.media.alt, {
                    'attr': { 'class':'form-control', 'onfocus':'focused(this)', 'onfocusout':'defocused(this)' },
                    'label_attr':{'class':'form-label'},
                    'row_attr': {'class':'input-group input-group-outline'}
                }) }}
                <small class="text-secondary">Le <b>alt</b> sert à l'audio-description des images pour les non-voyants.</small>
                {{ form_row(form.media.imageFile) }}
                <label for="cryo_banner_media_imageFile_file">
                    <span id="file-upload-btn" class="btn btn-primary">
                        <i class="material-icons text-white pe-2" aria-hidden="true">download_for_offline</i>Drag or clic
                    </span>
                    <p class="text-secondary text-center">Taille max : <b>2 Mo</b></p>
                    {% if vich_uploader_asset(media, 'imageFile') is null %}
                        <img id="file-image" src="{{ asset('img/default-drop-zone.png') }}" alt="image par défaut"/>
                    {% else %}
                        <img id="file-image" src="{{  vich_uploader_asset(media, 'imageFile') }}" style="width:75%; height:auto;">
                    {% endif %}
                    <div class="position-relative">
                        <div id="start" style="left: 0; top: 0; opacity: 0; position: absolute;">
                            <i class="fa fa-download" aria-hidden="true"></i>
                            <div></div>
                            <span id="file-upload-btn" class="btn btn-primary"></span>
                            <div id="notimage" class="hidden"></div>
                        </div>
                        <div id="response" class="hidden">
                            <div id="messages" class="pink"></div>
                        </div>
                    </div>
                </label>
            </div>
        </div>
        <div class="col-lg-6 col-12" id="fileDrag">
            <div class="card p-4 mb-4">
                <h6 class="text-uppercase pink font-weight-bolder mb-0">Sélection de page</h6>
                <small class="mb-3">Choix de la page d'affichage de la bannière</small>
                {{ form_row(form.page, {
                    'attr': {'class':'form-select ps-3'},
                    'label_attr': {'class':'form-label required'},
                    'row_attr': {'class':'mb-3'}
                }) }}
            </div>
            <div class="card p-4 mb-4">
                <h6 class="text-uppercase pink font-weight-bolder mb-0">Page d'accueil</h6>
                <small class="mb-3">Ces champs ne sont a remplir que si la page sélectionnée est "Accueil"</small>
                {{ form_row(form.title, {
                    'attr': { 'class':'form-control', 'onfocus':'focused(this)', 'onfocusout':'defocused(this)' },
                    'label_attr':{'class':'form-label'},
                    'row_attr': {'class':'input-group input-group-outline mb-3'}
                }) }}
                {{ form_row(form.subtitle, {
                    'attr': { 'class':'form-control', 'onfocus':'focused(this)', 'onfocusout':'defocused(this)' },
                    'label_attr':{'class':'form-label'},
                    'row_attr': {'class':'input-group input-group-outline mb-3'}
                }) }}
                {{ form_row(form.position, {
                    'attr': {'class':'form-control'},
                    'label_attr': {'class':'form-label'},
                    'row_attr': {'class':'mb-3'}
                }) }}
            </div>
        </div>
    {% if editMode %}
        {{ form_widget(form.save, { 'label': 'Modifier', 'attr': { 'class': 'btn btn-primary' }}) }}
    {% else %}
        {{ form_widget(form.save, { 'label': 'Ajouter', 'attr': { 'class': 'btn btn-primary' }}) }}
    {% endif %}

    {{ form_end(form) }}
{#    </div>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/back/script.js') }}"></script>
{% endblock %}
