{% extends 'back_base.html.twig' %}

{% block body %}
    <p>
        Pour info, la couleur rose utilisée sur le site se traduit par ce code couleur : <b>#d545af</b> <br>
        Pour <b>changer la couleur</b> d'un texte il faut selectionner le mot, cliquer sur <b>"format"</b> puis sur <b>"text color"</b> et enfin sur la <b>petite palette</b> pour rentrer ce code après le dièse (<b>#</b>)
    </p>
    {{ form_start(form, {'attr': {'class': 'flex-form'}}) }}

    <div class="col-lg-6 col-12">
        <div class="card p-4 mb-4">
            <h6 class="text-uppercase pink font-weight-bolder mb-0">Premier paragraphe</h6>
            {{ form_row(form.firstText, {
                'attr': {'class':'form-group ps-3'},
                'row_attr': {'class':'form-control mb-3'}
            }) }}
        </div>
    </div>
    <div class="col-lg-6 col-12" id="fileDrag">
        <div class="card p-4 mb-4">
            <h6 class="text-uppercase pink font-weight-bolder mb-0">Second paragraphe</h6>
            {{ form_row(form.secondText, {
                'attr': {'class':'form-group ps-3'},
                'row_attr': {'class':'form-control mb-3'}
            }) }}
        </div>
    </div>

    {% if editMode %}
        {{ form_widget(form.save, { 'label': 'Modifier', 'attr': { 'class': 'btn btn-primary' }}) }}
    {% else %}
        {{ form_widget(form.save, { 'label': 'Ajouter', 'attr': { 'class': 'btn btn-primary' }}) }}
    {% endif %}

    {{ form_end(form) }}

    {% if flashbag %}
        <div class="notify bar-top do-show" data-notification-status="{{ flashbag['level'] }}">{{ flashbag['message'] }}</div>
    {% endif %}

{% endblock %}
