<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Cryomedica - Connexion</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {% block stylesheets %}
        <link href="{{ asset('css/back/login.css') }}" rel="stylesheet" />
    {% endblock %}
</head>

<body>
<div class="session">
    <div class="left" style="background-image: url('{{ asset('img/photo3.jpg') }}')"></div>
    <form action="{{ path('login') }}" method="post" class="log-in" autocomplete="off">

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <h4>Cryomedica</h4>
        <p>Connexion au Back Office</p>

        <div class="floating-label">
            <input placeholder="Email" type="text" id="email" name="email" autocomplete="off" value="{{ email }}">
            <label for="username">Email</label>
        </div>
        <div class="floating-label">
            <input placeholder="Password" type="password" name="password" id="password" autocomplete="off">
            <label for="password">Password</label>
        </div>

        {% if loginError %}
            <div class="error">
                Il y a une erreur dans les identifiants fournis
            </div>
        {% endif %}

        <button type="submit">Log in</button>

    </form>
</div>
</body>
