<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Cryomedica - Connexion</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="{{ asset('css/back/login.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/back/icon-animation.css') }}" rel="stylesheet" />
</head>

<body>

{# Modal #}
<div id="modal-container">
    <div class="modal update-modal">

        <svg class="close-modal" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 50 50" overflow="visible" stroke="black" stroke-width="10" stroke-linecap="round" onclick="hideModal()">
            <line x2="50" y2="50" />
            <line x1="50" y2="50" />
        </svg>

        <div class="good-modal-content" style="display: none">
            <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark_circle_success" cx="26" cy="26" r="25" fill="none"/><path class="checkmark_check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" stroke-linecap="round"/></svg>
            <h2>C'est tout bon</h2>
            <p>Mot de passe mis à jour.</p>
            <a href="{{ path('login') }}">Aller au login</a>
        </div>

        <div class="error-modal-content" style="display: none">
            <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark_circle_error" cx="26" cy="26" r="25" fill="none"/><path class="checkmark_check" stroke-linecap="round" fill="none" d="M16 16 36 36 M36 16 16 36"/>
            </svg>
            <h2>Oups...</h2>
            <p class="error-text"></p>
            <button onclick="hideModal()">Fermer</button>
        </div>

    </div>
</div>

<main>
    <section class="session">
        <div class="left" style="background-image: url('{{ asset('img/photo3.jpg') }}')"></div>
        <div class="form log-in" autocomplete="off">

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <h4>Cryomedica</h4>
            <p>Reset password</p>

            <div class="floating-label">
                <input placeholder="Email" type="text" id="email" name="email" autocomplete="off" value="{{ email }}">
                <label for="username">Email</label>
            </div>
            <div class="floating-label">
                <input placeholder="Mot de passe" type="password" name="password" id="password" autocomplete="off" value=''>
                <label for="password">Nouveau mot de passe</label>
            </div>
            <div class="floating-label">
                <input placeholder="Confirmer le mot de passe" type="password" name="confirmPassword" id="confirmPassword" autocomplete="off">
                <label for="confirmPassword">Confirmer le mot de passe</label>
            </div>

            <div id="loaderDiv" style="display: none">
                <div class="loader-6 center"><span></span></div>
            </div>

            <button type="submit" name="connexion" onclick="updatePassword(document.querySelector('#email').value,document.querySelector('#password').value, document.querySelector('#confirmPassword').value )">Reset</button>

        </div>
    </section>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    let token = new URLSearchParams(window.location.search).get('token');

    const modal = $('#modal-container');
    const errorModalContent = $('.error-modal-content');
    const goodModalContent  = $('.good-modal-content');

    const showModal = () => {
        $('.error-modal-content').hide();
        $('.good-modal-content').hide();
        modal.removeAttr('class').addClass('two');
        $('body').addClass('modal-active');
    }
    const hideModal = () => {
        $('.error-modal-content svg').removeAttr('class');
        $('.good-modal-content svg').removeAttr('class');
        modal.removeAttr('class');
        $('body').removeClass('modal-active');
    }

    const updatePassword = (email, password, confirmPassword) => {

        $.ajax({
            url: "{{ path('update_password_action') }}",
            type: "POST",
            dataType: "json",
            data: {
                "email": email,
                'password': password,
                'confirmPassword': confirmPassword,
                'token': token,
                'storageToken': localStorage.getItem('token')
            },
            async: true,
            beforeSend: () => {
                // Show loader during request time
                $("#loaderDiv").show();
            },
            error: (data) => {
                // show modal with error message and hide loader
                showModal();
                errorModalContent.show();
                // Start icon animation
                $('.error-modal-content svg').addClass('checkmark error');
                // If error in mail :
                $('.error-text').html(data.responseJSON.error)
                // If error in password
                $("#loaderDiv").hide();
            },
            success: (data) => {
                console.log(data);
                // Show modal with success message
                showModal();
                goodModalContent.show();
                // Start icon animation
                $('.good-modal-content svg').addClass('checkmark success');
                $("#loaderDiv").hide();
                $('.close-modal').remove();
                localStorage.removeItem("token");
            }
        })
    }

    window.addEventListener("keydown", function (event) {
        if (event.defaultPrevented) {
            // Ne devrait rien faire si l'événement de la touche était déjà consommé.
            return;
        }

        switch (event.key) {
            case "Enter":
                // Faire quelque chose pour les touches "enter" ou "return" pressées.
                updatePassword(document.querySelector('#email').value,document.querySelector('#password').value, document.querySelector('#confirmPassword').value)
                break;
            default:
                return; // Quitter lorsque cela ne gère pas l'événement touche.
        }
        // Annuler l'action par défaut pour éviter qu'elle ne soit traitée deux fois.
        event.preventDefault();

    }, true);

</script>

</body>


