{% extends 'front_base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cabins.css') }}">
    <link rel="stylesheet" href="{{ asset('css/about.css') }}">
{% endblock %}

{% block body %}

    <h1 class="text-uppercase">À propos</h1>

    <h2>Retrouvez CRYOMEDICA sur tous les océans</h2>
    <div class="cabin-banner" style="background-image: url('{{ asset('img/' ~ aboutBanner.media.picture) }}')"></div>

    <div class="container">
        <div class="event">
            <span class="badge">Evènement à venir</span>
            <div>{{ about.firstText | raw }}</div>
        </div>

        <div>{{ about.secondText | raw }}</div>

        <br><br>

        <p>Pour en savoir plus visitez le site <a class="rame" href="https://www.rameocean.fr" target="_blank">Rame Océan</a></p>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("js/cabins.js") }}"></script>
{% endblock %}
