{% extends 'front_base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cabins.css') }}">
{% endblock %}

{% block body %}

    <h1 class="text-center text-uppercase">Les cabines</h1>

    <section class="toggle-section">
        <h2>Cryomédica vous propose 2 types de cabines</h2>
        <div class="toggle-wrapper">
            <input id="toggle-on" class="toggle toggle-elec" name="toggle" value="false" type="radio" checked>
            <label for="toggle-on" class="switch-btn">électrique</label>
            <input id="toggle-off" class="toggle toggle-azote" name="toggle" value="true" type="radio">
            <label for="toggle-off" class="switch-btn">azote</label>
        </div>
    </section>

    <section class="cabin-infos">

        <div class="elec-wrapper active">
            <div class="cabin-banner" style="background-image: url('{{ asset('img/' ~ elecBanner.media.picture) }}')"></div>
            <div class="container">
                <section class="cabin-card-description">
                    <h2 class="text-center text-uppercase">Cabines électriques</h2>
                    {% if elec %}
                        <div>{{ elec.text | raw }}</div>
                    {% endif %}
                    {% if elecArray %}
                    <section class="carac">
                        <span class="badge">Caractéristiques</span>
                        <table class="table table-striped">
                            <tbody>
                            {% for carac in elecArray %}
                                <tr>
                                    <td>{{ carac.title }}</td>
                                    <td>{{ carac.description }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </section>
                    {% endif %}
                    {% if pictos %}
                    <section class="atout">
                        <span class="badge">Des atouts</span>
                        <div class="pictos">
                            {% for picto in pictos %}
                                <div class="cryo-card" style="background-color: {{ picto.bgColor }}; color: {{ picto.color }}">
                                    <div class="inner-card">
                                        <img src="{{ asset('img/' ~ picto.media.picture) }}" alt="{{ picto.media.alt }}">
                                        <p>{{ picto.title }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                    {% endif %}
                </section>
            </div>
        </div>

        {% if azoteCabins %}
        <div class="azote-wrapper">
            <div class="cabin-banner" style="background-image: url('{{ asset('img/' ~ azoteBanner.media.picture) }}')"></div>
            <div class="container">
                <div class="cabin-card-description">
                    <h2 class="text-center text-uppercase">Cabines à l'azote</h2>
                    <p class="text-center">Des cabines à l’azote de différents types, pour différents besoins</p>
                    {% for cabin in azoteCabins %}
                    <div class="azote-cards">
                        <figure>
                            <img src="{{ asset('img/' ~ cabin.media.picture) }}" alt="{{ cabin.media.alt }}" />
                        </figure>
                        <div class="azote-card-info">
                            <h3>{{ cabin.title }}</h3>
                            <div>{{ cabin.text | raw }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

    </section>

    <a class="btn btn-outline-pink" href="{{ path('centers') }}">Découvrir les centres</a>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("js/cabins.js") }}"></script>
{% endblock %}
