{% extends 'front_base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
          integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
          crossorigin=""/>
    <link rel="stylesheet" href="{{ asset('css/historic.css') }}">
{% endblock %}

{% block body %}

    <div class="timeline-container" id="timeline-1">
        <div class="timeline-header">
            <h1 class="text-center text-uppercase bodoni">Historique</h1>
        </div>
        {% if historics %}
        <div class="timeline">
            <!-- @credit: https://codepen.io/knyttneve/pen/bgvmma -->
            {% for story in historics %}
            <div class="timeline-item" data-text="{{ story.title }}">
                <div class="timeline__content">
                    <img src="{{ asset('img/' ~ story.media.picture) }}" alt="{{ story.media.alt }}">
                    <h2 class="timeline__content-title">{{ story.date }}</h2>
                    <div class="timeline__content-desc">{{ story.text | raw }}</div>
                </div>
            </div>
            {% endfor %}
{#            <div class="timeline-item" data-text="Cabine électrique">#}
{#                <div class="timeline__content"><img class="timeline__img" src="{{ asset('img/photo2.jpg') }}"/>#}
{#                    <h2 class="timeline__content-title">1982</h2>#}
{#                    <p class="timeline__content-desc">Quelques années plus tard la première cabine électrique allemande arrive sur le marché.</p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="timeline-item" data-text="Cryomedica">#}
{#                <div class="timeline__content"><img class="timeline__img" src="{{ asset('img/photo3.jpg') }}"/>#}
{#                    <h2 class="timeline__content-title">2009</h2>#}
{#                    <p class="timeline__content-desc">1er achat de cabine azote pour CRYOMEDICA</p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="timeline-item" data-text="Commencement">#}
{#                <div class="timeline__content"><img class="timeline__img" src="{{ asset('img/cabine-cryo-landscape.jpg') }}"/>#}
{#                    <h2 class="timeline__content-title">2010</h2>#}
{#                    <p class="timeline__content-desc">Il existe 4 centres de CCE en France. 2 centres ouverts par CRYOMEDICA, une chambre électrique à l’INSEP et une autre cabine à l’azote à LA SEYNE SUR MER</p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="timeline-item" data-text="Démocratisation">#}
{#                <div class="timeline__content"><img class="timeline__img" src="{{ asset('img/photo1.jpg') }}"/>#}
{#                    <h2 class="timeline__content-title">2022</h2>#}
{#                    <p class="timeline__content-desc">Processus d'ouverture de 18 centres CRYOMEDICA dans le but de démocratiser la pratique de la CCE en la rendant plus accessible</p>#}
{#                </div>#}
{#            </div>#}
        </div>
        {% endif %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ asset("js/historic.js") }}"></script>
{% endblock %}
