{% extends 'front_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/index.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/slider.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="main">
        <div class="app">

            <div class="cardList">
                <button class="cardList__btn btn btn--left">
                    <div class="icon">
                        <i class="icon-arrow-left"></i>
                    </div>
                </button>

                <div class="cards__wrapper">
                    <div class="card current--card">
                        <div class="card__image">
                            <img src="{{ asset('img/' ~ banner1.media.picture) }}" alt="{{ banner1.media.alt }}" />
                        </div>
                    </div>

                    <div class="card next--card">
                        <div class="card__image">
                            <img src="{{ asset('img/' ~ banner2.media.picture) }}" alt="{{ banner2.media.alt }}" />
                        </div>
                    </div>

                    <div class="card previous--card">
                        <div class="card__image">
                            <img src="{{ asset('img/' ~ banner3.media.picture) }}" alt="{{ banner3.media.alt }}" />
                        </div>
                    </div>
                </div>

                <button class="cardList__btn btn btn--right">
                    <div class="icon">
                        <i class="icon-arrow-right"></i>
                    </div>
                </button>
            </div>

            <div class="infoList">
                <div class="info__wrapper">
                    <div class="info current--info">
                        <h1 class="text name">{{ banner1.title }}</h1>
                        <p class="text description">{{ banner1.subtitle | raw }}</p>
                    </div>

                    <div class="info next--info">
                        <h1 class="text name">{{ banner2.title }}</h1>
                        <p class="text description">{{ banner2.subtitle | raw }}</p>
                    </div>

                    <div class="info previous--info">
                        <h1 class="text name">{{ banner3.title }}</h1>
                        <p class="text description">{{ banner3.subtitle | raw }}</p>
                    </div>
                </div>
            </div>

            <div class="app__bg">
                <div class="app__bg__image current--image">
                    <img src="{{ asset('img/' ~ banner1.media.picture) }}" alt="{{ banner1.media.alt }}" />
                </div>
                <div class="app__bg__image next--image">
                    <img src="{{ asset('img/' ~ banner2.media.picture) }}" alt="{{ banner2.media.alt }}" />
                </div>
                <div class="app__bg__image previous--image">
                    <img src="{{ asset('img/' ~ banner3.media.picture) }}" alt="{{ banner3.media.alt }}" />
                </div>
            </div>

            <div class="banner-text">
                <h2 class="pink">La Cryothérapie Corps entier (CCE)</h2>
                <p>La CCE est utilisée dans 3 domaines principaux : la santé, le sport et le bien-être</p>
            </div>

        </div>
    </div>

    <div class="loading__wrapper">
        <div class="loader--text">Loading...</div>
        <div class="loader">
            <span></span>
        </div>
    </div>

    <svg class="icons" style="display: none;">
        <symbol id="arrow-left" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'>
            <polyline points='328 112 184 256 328 400'
                      style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' />
        </symbol>
        <symbol id="arrow-right" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'>
            <polyline points='184 112 328 256 184 400'
                      style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' />
        </symbol>
    </svg>

    <section id="cryomedica">
            <div class="pictos">
                {% for picto in pictos %}
                <div class="cryo-card" style="background-color: {{ picto.bgColor }}; color: {{ picto.color }}">
                    <div class="inner-card">
                        <img src="{{ asset('img/' ~ picto.media.picture) }}" alt="{{ picto.media.alt }}">
                        <p>{{ picto.title }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
    </section>

    {% if bio and bio.isActive %}
    <section id="centers">
        <div class="container">
            <section>
                <h1 class="text-center bodoni text-uppercase">Cryomedica</h1>

                <p class="incoming"><span class="badge">A venir</span> Ouverture de <strong>18 centres</strong> en France</p>

                <article>
                    <div class="img-part-article">
                        <img src="{{ asset('img/' ~ bio.media.picture) }}" alt="{{ bio.media.alt }}">
                    </div>
                    <div class="text-part-article">
                        {{ bio.firstText | raw }}
                    </div>
                </article>

                <article>
                    {{ bio.secondText | raw }}
                </article>

                <a class="btn btn-outline-pink" href="{{ path('centers') }}">Découvrir les centres</a>

            </section>
        </div>
    </section>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.3/gsap.min.js"></script>
    <script src="{{ asset('js/slider.js') }}"></script>
{% endblock %}
