<section class="gallery">
    <figure class="img-wrapper">
        <img src="{{ asset('img/' ~ banner1.media.picture) }}" alt="{{ banner1.media.alt }}" />
    </figure>
    <figure class="img-wrapper">
        <img src="{{ asset('img/' ~ banner2.media.picture) }}" alt="{{ banner2.media.alt }}" />
    </figure>
    <figure class="img-wrapper">
        <img src="{{ asset('img/' ~ banner3.media.picture) }}" alt="{{ banner3.media.alt }}" />
    </figure>
</section>
