<!DOCTYPE html>
<html class="scrollbar-hidden" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Back Office Cryo</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
        <link href="{{ asset('css/back/material-dashboard.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/back/style.css') }}" rel="stylesheet" />

        <style>
            @font-face {
                font-family: 'icomoon';
                src:  url('{{ asset("fonts/icomoon.eot?jnbm3x") }}');
                src:  url('{{ asset("fonts/icomoon.eot?jnbm3x#iefix") }}') format('embedded-opentype'),
                url('{{ asset("fonts/icomoon.ttf?jnbm3x") }}') format('truetype'),
                url('{{ asset("fonts/icomoon.woff?jnbm3x") }}') format('woff'),
                url('{{ asset("fonts/icomoon.svg?jnbm3x#icomoon") }}') format('svg');
                font-weight: normal;
                font-style: normal;
                font-display: block;
            }

            [class^="icon-"], [class*=" icon-"] {
                /* use !important to prevent issues with browser extensions that change fonts */
                font-family: 'icomoon' !important;
                speak: never;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;

                /* Better Font Rendering =========== */
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

            .icon-pin:before {
                content: "\e90d";
            }
            .icon-maintenance:before {
                content: "\e90e";
            }
            .icon-sixtie:before {
                content: "\e90f";
            }
            .icon-small:before {
                content: "\e905";
            }
            .icon-azote:before {
                content: "\e900";
            }
            .icon-cabine-cryo:before {
                content: "\e901";
            }
            .icon-cold:before {
                content: "\e902";
            }
            .icon-europe:before {
                content: "\e903";
            }
            .icon-france:before {
                content: "\e904";
            }
            .icon-arrow-left:before {
                content: "\e906";
            }
            .icon-arrow-right:before {
                content: "\e907";
            }
            .icon-cross:before {
                content: "\e908";
            }
            .icon-facebook:before {
                content: "\e909";
            }
            .icon-insta:before {
                content: "\e90a";
            }
            .icon-twitter:before {
                content: "\e90b";
            }
            .icon-zoomin:before {
                content: "\e90c";
            }


        </style>
    {% endblock %}
</head>
<body class="g-sidenav-show  bg-gray-200">

    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark scrollbar" id="sidenav-main">
            <div class="sidenav-header" >
                <i class="fas fa-times p-3 cursor-pointer text-white opacity-7 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
                <h4 class="font-weight-bold text-white text-uppercase text-center bodoni my-4">Cryomedica</h4>
            </div>
            <hr class="horizontal light mt-0 mb-2">
            <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="{{ nav == 'dashboard' ? 'bg-gradient-primary' : '' }} nav-link text-white" href="{{ path('dashboard') }}">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">dashboard</i>
                            </div>
                            <span class="nav-link-text ms-1">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="{{ nav == 'banner' ? 'bg-gradient-primary' : '' }} nav-link text-white" href="{{ path('banners') }}">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">photo_library</i>
                            </div>
                            <span class="nav-link-text ms-1">Bannières</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="{{ nav == 'Pictos' ? 'bg-gradient-primary' : '' }} nav-link text-white">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">draw</i>
                            </div>
                            <span class="nav-link-text ms-1">Pictos</span>
                        </a>
                    </li>

                    <li class="nav-item mt-3">
                        <h6 class="ps-4 ms-2 text-uppercase text-white font-weight-bolder opacity-8">Accueil</h6>
                    </li>
                    <li class="nav-item">
                        <a class="{{ nav == 'Présentation' ? 'bg-gradient-primary' : '' }} nav-link text-white ">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">menu_book</i>
                            </div>
                            <span class="nav-link-text ms-1">Présentation</span>
                        </a>
                    </li>

                    <li class="nav-item mt-3">
                        <h6 class="ps-4 ms-2 text-uppercase text-white font-weight-bolder opacity-8">Centres</h6>
                    </li>
                    <li class="nav-item">
                        <a class="{{ nav == 'Centres' ? 'bg-gradient-primary' : '' }} nav-link text-white ">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">home</i>
                            </div>
                            <span class="nav-link-text ms-1">Liste des centres</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="{{ nav == 'Contacts' ? 'bg-gradient-primary' : '' }} nav-link text-white ">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">mail</i>
                            </div>
                            <span class="nav-link-text ms-1">Contacts</span>
                        </a>
                    </li>

                    <li class="nav-item mt-3">
                        <h6 class="ps-4 ms-2 text-uppercase text-white font-weight-bolder opacity-8">Clients</h6>
                    </li>
                    <li class="nav-item">
                        <a class="{{ nav == 'Clients' ? 'bg-gradient-primary' : '' }} nav-link text-white ">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">list_alt</i>
                            </div>
                            <span class="nav-link-text ms-1">Liste des clients</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="{{ nav == 'Témoignages' ? 'bg-gradient-primary' : '' }} nav-link text-white ">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">volunteer_activism</i>
                            </div>
                            <span class="nav-link-text ms-1">Témoignages</span>
                        </a>
                    </li>

                    <li class="nav-item mt-3">
                        <h6 class="ps-4 ms-2 text-uppercase text-white font-weight-bolder opacity-8">Cabines</h6>
                    </li>
                    <li class="nav-item">
                        <a class="{{ nav == 'Electriques' ? 'bg-gradient-primary' : '' }} nav-link text-white ">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">bolt</i>
                            </div>
                            <span class="nav-link-text ms-1">Electriques</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="{{ nav == 'Azote' ? 'bg-gradient-primary' : '' }} nav-link text-white ">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="icon-azote opacity-10"></i>
                            </div>
                            <span class="nav-link-text ms-1">Azote</span>
                        </a>
                    </li>

                    <li class="nav-item mt-3">
                        <h6 class="ps-4 ms-2 text-uppercase text-white font-weight-bolder opacity-8">Historique</h6>
                    </li>
                    <li class="nav-item">
                        <a class="{{ nav == 'Historique' ? 'bg-gradient-primary' : '' }} nav-link text-white ">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">history_edu</i>
                            </div>
                            <span class="nav-link-text ms-1">Les dates</span>
                        </a>
                    </li>

                    <li class="nav-item mt-3">
                        <h6 class="ps-4 ms-2 text-uppercase text-white font-weight-bolder opacity-8">Communication</h6>
                    </li>
                    <li class="nav-item">
                        <a class="{{ nav == 'Communication' ? 'bg-gradient-primary' : '' }} nav-link text-white ">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">badge</i>
                            </div>
                            <span class="nav-link-text ms-1">A propos</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidenav-footer position-absolute w-100 bottom-0 ">
                <form action="{{ path('logout') }}" method="post" class="mx-3">
                    <button class="btn bg-gradient-primary mt-4 w-100 mb-1" type="submit">Déconnexion</button>
                    <p class="text-white text-center fs-14">{{ app.session.get('user').firstname }} {{ app.session.get('user').lastname }}</p>
                </form>
            </div>
        </aside>

    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
            <div class="py-3 mt-3 breadcrump-header">
                <h1 class="font-weight-bolder mb-0 page-title">{{ title }}</h1>
                <div class="collapse navbar-collapse mt-sm-0 me-md-0 me-sm-4" id="navbar">
                    <ul class="navbar-nav  justify-content-end">
                        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                            <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="mx-4">
            {% block body %}{% endblock %}
        </div>
    </main>

{% block javascripts %}
    <script src="{{ asset('js/back/core/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/back/material-dashboard.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        window.Scrollbar.init(document.querySelector('#my-scrollbar'));
    </script>
{% endblock %}

</body>
</html>
