<!DOCTYPE html>
<html class="scrollbar-hidden" lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="icon" type="image/png" href="{{ asset('img/cryomedica_favicon.png') }}">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        {% block stylesheets %}
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
            <style>
                @font-face {
                    font-family: 'icomoon';
                    src:  url('{{ asset("fonts/icomoon.eot?jnbm3x") }}');
                    src:  url('{{ asset("fonts/icomoon.eot?jnbm3x#iefix") }}') format('embedded-opentype'),
                    url('{{ asset("fonts/icomoon.ttf?jnbm3x") }}') format('truetype'),
                    url('{{ asset("fonts/icomoon.woff?jnbm3x") }}') format('woff'),
                    url('{{ asset("fonts/icomoon.svg?jnbm3x#icomoon") }}') format('svg');
                    font-weight: normal;
                    font-style: normal;
                    font-display: block;
                }

                [class^="icon-"], [class*=" icon-"] {
                    /* use !important to prevent issues with browser extensions that change fonts */
                    font-family: 'icomoon' !important;
                    speak: never;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;

                    /* Better Font Rendering =========== */
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }

                .icon-pin:before {
                    content: "\e90d";
                }
                .icon-maintenance:before {
                    content: "\e90e";
                }
                .icon-sixtie:before {
                    content: "\e90f";
                }
                .icon-small:before {
                    content: "\e905";
                }
                .icon-azote:before {
                    content: "\e900";
                }
                .icon-cabine-cryo:before {
                    content: "\e901";
                }
                .icon-cold:before {
                    content: "\e902";
                }
                .icon-europe:before {
                    content: "\e903";
                }
                .icon-france:before {
                    content: "\e904";
                }
                .icon-arrow-left:before {
                    content: "\e906";
                }
                .icon-arrow-right:before {
                    content: "\e907";
                }
                .icon-cross:before {
                    content: "\e908";
                }
                .icon-facebook:before {
                    content: "\e909";
                }
                .icon-insta:before {
                    content: "\e90a";
                }
                .icon-twitter:before {
                    content: "\e90b";
                }
                .icon-zoomin:before {
                    content: "\e90c";
                }


            </style>
        {% endblock %}
    </head>
    <body class="scrollbar-hidden">

        <header>
            <nav class="nav-logo">
                <a href="{{ path('index') }}" class="text-center fw-bold">
                    <img src="{{ asset("img/logo_cryomedica.png") }}" alt="Logo Cryomedica">
                </a>
            </nav>
            <nav class="nav-items">
                <a href="{{ path('centers') }}" class="nav-item {{ app.request.get('_route') == 'centers' ? 'current' : '' }}">Centres</a>
                <a href="{{ path('customers') }}" class="nav-item {{ app.request.get('_route') == 'customers' ? 'current' : '' }}">Clients</a>
                <a href="{{ path('cabins') }}" class="nav-item {{ app.request.get('_route') == 'cabins' ? 'current' : ''}}">Cabines</a>
                <a href="{{ path('historic') }}" class="nav-item {{ app.request.get('_route') == 'historic' ? 'current' : ''}}">Historique</a>
                <a href="{{ path('about') }}" class="nav-item {{ app.request.get('_route') == 'about' ? 'current' : ''}}">Evènements</a>
                <a href="{{ path('front_contact') }}" class="nav-item {{ app.request.get('_route') == 'front_contact' ? 'current' : ''}}">Contact</a>
            </nav>

            <div class="menu-toggle">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="cross">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </header>

        <div class="mobile-header">
            <nav class="mobile-nav-items">
                <div class="nav-wrapper">
                    <a href="{{ path('centers') }}" class="mobile-nav-item {{ app.request.get('_route') == 'centers' ? 'current' : '' }}">Centres</a>
                </div>
                <div class="nav-wrapper">
                    <a href="{{ path('customers') }}" class="mobile-nav-item {{ app.request.get('_route') == 'customers' ? 'current' : '' }}">Clients</a>
                </div>
                <div class="nav-wrapper">
                    <a href="{{ path('cabins') }}" class="mobile-nav-item {{ app.request.get('_route') == 'cabines' ? 'current' : ''}}">Cabines</a>
                </div>
                <div class="nav-wrapper">
                    <a href="{{ path('historic') }}" class="mobile-nav-item {{ app.request.get('_route') == 'historic' ? 'current' : ''}}">Historique</a>
                </div>
                <div class="nav-wrapper">
                    <a href="{{ path('about') }}" class="mobile-nav-item {{ app.request.get('_route') == 'about' ? 'current' : ''}}">Evènements</a>
                </div>
                <div class="nav-wrapper">
                    <a href="{{ path('front_contact') }}" class="mobile-nav-item {{ app.request.get('_route') == 'front_contact' ? 'current' : ''}}">Contact</a>
                </div>

            </nav>

            {{ render(path('menu_photo')) }}
        </div>

        <main>
            {% block body %}{% endblock %}
        </main>

{#        <div class="border-radient"></div>#}

        <footer>
            <div class="">

            </div>
            <div class="footer-center">
                <p class="bodoni">© <span class="pink">Cryo</span>medica</p>
            </div>
            <div>
            </div>
        </footer>

        {% block javascripts %}
            <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}

    </body>
</html>
