{% extends 'back_base.html.twig' %}

{% block body %}

    <a href="{{ path('dashboard') }}" class="btn btn-secondary mb-4"><i class="material-icons text-white pe-2">keyboard_backspace</i>Retour au dashboard</a>

    {{ form_start(form, {'attr': {'class': 'flex-form'}}) }}

        <div class="col-lg-6 col-12">
            <div class="card p-4 mb-4">
                <h6 class="text-uppercase pink font-weight-bolder mb-3">Mot de passe</h6>
                {{ form_row(form.password, {
                    'attr': { 'class':'form-control mb-3', 'onfocus':'focused(this)', 'onfocusout':'defocused(this)' },
                    'label_attr':{'class':'form-label'},
                    'row_attr': {'class':'input-group input-group-outline'},
                }) }}
                {{ form_row(form.confirmPassword, {
                    'attr': { 'class':'form-control mb-3', 'onfocus':'focused(this)', 'onfocusout':'defocused(this)' },
                    'label_attr':{'class':'form-label'},
                    'row_attr': {'class':'input-group input-group-outline'}
                }) }}

                {% if error %}
                    <p class="form-error mb-0">{{ error }}</p>
                {% endif %}
            </div>
        </div>

        <div class="col-12">
            {{ form_widget(form.save, { 'label': 'Modifier', 'attr': { 'class': 'btn btn-primary' }}) }}
        </div>

    {{ form_end(form) }}
{#    </div>#}
{% endblock %}
